body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header-section,
footer {
    background-color: #1f2937;
}

.header-links a,
.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}

.header-links a {
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
}

.header-section {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-top: 24px;
    padding-bottom: 96px;
}

.hero {
    width: 432px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}

.hero p {
    margin: 0;
}

.hero button {
    margin-top: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 24px;
    border: none;
    border-radius: 6px;
}

.header-left,
.header-right {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

button {
    background-color: #3882f6;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 96px;
}

.info-section h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.info-card-container {
    display: flex;
    gap: 48px;
}

.info-card {
    width: 156px;
    text-align: center;
}

.info-card img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 6px;
}

.info-card p {
    margin: 0;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding-top: 96px;
    padding-bottom: 96px;
}

.quote-section blockquote,
.blockquote-author {
    color: #1f2937;
}

.quote-section blockquote {
    font-size: 36px;
    font-style: italic;
    width: 42%;
    margin-bottom: 0;
}

.blockquote-author {
    align-self: flex-end;
    margin-right: 32%;
    font-size: 24px;
    font-weight: 600;
}

.call-to-action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 96px;
}

.call-to-action-box {
    display: flex;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 48px 148px;
    gap: 128px;
    font-weight: 600;
}

.call-to-action-text {
    font-size: 24px;
    color: #f9faf8;
}

.call-to-action-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.call-to-action-box button {
    margin: 0;
    height: 32px;
    padding: 4px 42px;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    align-self: center;
}

footer {
    color: #e5e7eb;
    text-align: center;
    padding: 24px;
}